a:not[class] {
  color: var(--rd4c-green-color);
  text-decoration: underline;
}

.aux {
  outline: 2px solid red;
  padding: var(--s0);
  color: red;
}

[data-visibility="mobile-only"] {
  @media (min-width: 36em) {
    display: none !important;
  }
}

[data-visibility="desktop-only"] {
  @media (max-width: 36em) {
    display: none !important;
  }
}

.flow,
.cms-content {
  --gap: var(--s-1);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

@media screen and (min-width: 768px) { 
  .cms-content { --gap: var(--s0); }
}

.cms-content {
  ul {
    margin-left: 0;
    padding-left: 0;
  } 

  li {
    list-style-type: none;
    padding-block: var(--s-1);
    border-bottom: 1px solid var(--primary-color);
  }

  li:first-child {
    -top: var(--s-1);
    border-top: 1px solid var(--primary-color);
  }  
}

.text-balance,
.text-wrap\:balance {
  * { text-wrap: balance; }
}


/* AUTO GRID
Related Every Layout: https://every-layout.dev/layouts/grid/
More info on the flexible nature: https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
A flexible layout that will create an auto-fill grid with
configurable grid item sizes

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-s-m)): This defines the space
between each item.

--grid-min-item-size (14rem): How large each item should be
ideally, as a minimum.

--grid-placement (auto-fill): Set either auto-fit or auto-fill
to change how empty grid tracks are handled */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-placement, auto-fill),
      minmax(var(--grid-min-item-size, 16rem), 1fr));
  gap: var(--gutter, var(--space-s-l));
}

.auto-grid[data-rows='masonry'] {
  grid-template-rows: masonry;
  align-items: start;
}

.auto-grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(20rem, 50vw, 30rem);
}

/* Typography - Temp */
.brow {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--brow-color, var(--primary-color));
}

.heading {

}

.tagline {
  
}

body {
  /* This whould be added to the reset */
  text-wrap: pretty;
}



/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7035rem, 0.8083rem + -0.1353vw, 0.7813rem);
  --step--1: clamp(0.9375rem, 0.9374rem + 0.0004vw, 0.9377rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.24rem + 0.55vw, 1.6663rem);
  --step-2: clamp(1.62rem, 1.4109rem + 1.0454vw, 2.2211rem);
  --step-3: clamp(1.944rem, 1.5904rem + 1.7682vw, 2.9607rem);
  --step-4: clamp(2.3328rem, 1.7715rem + 2.8067vw, 3.9467rem);
  --step-5: clamp(2.7994rem, 1.9432rem + 4.281vw, 5.2609rem);
}


/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  /* Space m-l: 27px → 40px */
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  --space-s-xl: clamp(1.125rem, 0.212rem + 4.5652vw, 3.75rem);
  --space-m-xl: clamp(1.6875rem, 0.9701rem + 3.587vw, 3.75rem);
}
